ion-list {
    background-color: transparent !important;
    padding: 10px !important;
}
ion-item {
    /* --background: indianred; */
    --background: transparent;
    --border-color: white;
}
.swiper-slide {
    opacity: 0.2 !important;
}
.swiper-slide-active {
    opacity: 1 !important;
}

.swiper-slide-note {
    opacity: 1 !important;
    height: 300px !important;
}

.swiper-slide-note > .swiper-slide-shadow-bottom {
    display: none !important;
}
