ion-list {
    background-color: transparent !important;
}
ion-item {
    --background: transparent;
    --border-color: white;
}
.swiper-slide {
    opacity: 0.2 !important;
}
.swiper-slide-active {
    opacity: 1 !important;
}
